@charset "utf-8";

body {
	background-color: #ffffff;
}


ul {
	list-style:none;
}

.title {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
	background-image: url("img/hrBorder.png");
	width: 877px;
	height: 25px;
	border: 0px;
}


.box{
	width: 1120px;
	height: 580px;
}

.form {
	border: solid 62px;
	border-image: url("img/messageForm.png") 62 62 stretch;
	float: left;
	width: 548px;
	height: 343px;
}

.formBorder {
}

.name {
	font-size: 32px;
	font-weight: bold;
	resize: none;
	border: 0px;
}

.message{
	font-size: 32px;
	font-weight: bold;
	width: 548px;
	height: 240px;
	resize: none;
	border: 0px;
}

.button{
	margin-top: 320px;
	float: right;
}

.radioBorder {
	background-image: url("img/characterBorder.png");
	width: 407px;
	height: 111px;
	padding: 20px;
}

.radio {
	display: none;
}

.radio:checked + .radio_image {
	background-color: #ffeeee;
}

.send {
	margin-left: 250px;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: bold;
	width: 149px;
	height: 74px;
	background: url("img/sendButton.png");
 	border: 0px;
	padding: 10px;
}

.send:hover{
  cursor: pointer;
}

.display {
	font-size: 18px;
	font-weight: bold;

	border: solid 51px;
	border-image: url("img/messageDisplay.png") 51 51 round;
	float: left;
	width: 434px;
	height: 129px;
}

.displayImg {
	margin-top: 120px;
	float: left;
}

.displayName {
	font-size: 22px;
	float: right;
}
