@charset "utf-8";

body {
	background-image: url(img/021_ohoshisama.png);
	background-attachment: fixed;
  background-color: #f2f8fa;
}

h1 {
  font-family: "ＭＳ Ｐ明朝";
  font-size: 44px;
  text-align: center;
  font-weight:bold;
  color: #17baf6;
}

h2 {
  font-family: "ＭＳ Ｐ明朝";
  font-size: 16px;
  text-align: center;
}



input[type="text"] {
  font-size: 14px;
  width: 500px;
  height: 22px;
  padding: 5px;
  margin: 0 auto;
  margin: 8px;
}

textarea {
  font-size: 14px;
  width: 500px;
  height: 200px;
  padding: 5px;
  margin: 8px;
}

input[type="submit"] {
  font-size: 14px;
  font-weight:bold;
  height: 36px;
  width: 100px;
  margin: 8px;
}


.writeNumber {
  font-size: 14px;
}

.name {
  font-size: 16px;
  font-weight:bold;
  color: #17baf6;
}

.writeDate {
  font-size: 12px;
}

.message {
  font-size: 14px;
}
